@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");

:root {
   --ff: "JetBrains Mono", serif;
   --color: #d4d4d4;
   --color-code: #d4d4d4bb;
}

* {
   box-sizing: border-box;
}

body {
   font-family: var(--ff);
   text-align: center;
   padding: 0 4px;
   margin: 0;
   height: 100vh;
   overflow: hidden;
   background-color: #2d2d2d;
   color: #969693;
   position: relative;
}
textarea {
   width: 100%;
   /* height: 200px; */
   height: 91%;
   background-color: #1e1e1e;
   color: var(--color-code);
   padding: 12px 20px;
   border: rgba(0, 0, 0, 0.211);
   font-size: 16px;
   font-family: var(--ff);
   border-radius: 12px;
   font-weight: 500;
   line-height: 20px;
   resize: none;
}
textarea:focus-visible {
   outline: none;
}
.header {
   padding: 8px;
   display: flex;
   gap: 8px;
   justify-content: stretch;
   justify-content: space-between;
}

.header .icon {
   color: var(--color);
   background-color: #424243;
   border-radius: 8px;
   border: 1px solid #535354;
   position: absolute;
   bottom: 10px;
   height: 100px;
   width: 100px;
   justify-content: center;
   align-items: center;
   display: flex;
   transition: all 0.5s;
   right: 50%;
   margin-right: -50px;
   overflow: hidden;
}
.header .icon small {
   position: absolute;
   bottom: 2px;
   /* font-size: 10px; */
   /* opacity: .1; */
   z-index: 2;
}

.header .icon svg {
   transition: all 0.5s;
   transform: scale(1);
   z-index: 10;
   margin-bottom: 10px;
}
.header .icon:hover svg {
   transform: scale(3);
}
button {
   padding: 8px 16px;
   font-family: var(--ff);
   color: var(--color);
   cursor: pointer;
   background-color: #4242437a;
   border-radius: 8px;
   border: 1px solid #5353547d;
   font-size: 14px;
   font-weight: 600;
   transition: all 0.5s;
   font-family: var(--ff);
}
button:hover {
   color: var(--color);
   background-color: #424243;
   border-radius: 8px;
   border: 1px solid #535354;
}
.output {
   /* margin-top: 20px; */
   /* border: 1px solid #ccc; */
}

#btnDownXML {
  position: absolute;
  left: 11px;
  bottom: 25px;
}
#btnDownSVG {
  position: absolute;
  right: 11px;
  bottom: 25px;
}
.container {
   display: flex;
   gap: 4px;
   justify-content: stretch;
   height: 100%;
}

#nameFile {
   color: var(--color);
   background-color: transparent;
   border-radius: 8px;
   border: 1px solid transparent;
   font-family: var(--ff);
   font-size: 20px;
   transition: all .6s;
   width: 30vw;
  }
  
  #nameFile:focus,
  #nameFile:hover {
    color: var(--color);
    background-color: #424243;
    border-radius: 8px;
    border: 1px solid #535354;
    font-family: var(--ff);
    font-size: 20px;
    outline: none;
  }
  
  #myLink {
    display: block;
    height: 36px;
    width: 36px;
    background-color: #1e1e1e;
    background: center center url(https://avatars.githubusercontent.com/u/54501083?v=4);
    background-size: cover;
    background-position: center center;
    background-clip: border-box;
    background-repeat: no-repeat;
    border-radius: 100px;
    display: flex;
    justify-content: center;align-items: center;
  }
  
  .btns {
  width: 30vw;
  display: flex;
  gap: 8px;
  /* width: 100%; */
  justify-content: end;
}